{{ define "main" }}


<!-- research -->
<section class="section">
  <div class="container">

    <!-- Research Projects  -->
    <div class="mb-4">
      <h2 class="mb-3">Research Projects</h2>
    </div>
    <div class="row">
      {{ range .Data.Pages }}
      <!-- research item -->
      <div class="col-lg-4 col-sm-6 mb-4">
        <div class="card h-100 border-0 shadow-sm">
          <div class="card-body">

            <!-- Title -->
          
            <h5 class="card-title fw-bold mb-3">
              <a href="{{ .RelPermalink }}" class="text-dark text-decoration-none">{{ .Title }}</a>
            </h5>


            <!-- Image -->
            {{ with .Params.image }}
            <div class="mb-3 text-center">
              <img src="{{ . | relURL }}" alt="{{ $.Title }}" class="img-fluid rounded shadow-sm">
            </div>
            {{ end }}

            <!-- text-->
            <div class="card-text mb-3">
             {{ .Content | truncate 150 }}
            </div>

            <!-- Authors -->
            {{ with .Params.authors }}
            <p class="fst-italic mb-2">{{ . }}</p>
            {{ end }}

            <!-- link-->
            {{ with .Params.link }}
            <p class="mb-0">
              <a href="{{ .url }}" target="_blank" rel="noopener" class="fw-semibold text-primary text-decoration-none">
                {{ .display }}
              </a>
            </p>
            {{ end }}

          </div>
        </div>
      </div>
      {{ end }}
    </div>


  </div>
</section>
<!-- /research -->

{{ end }}